<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <link rel="stylesheet" type="text/css" href="../css/register.css" />
    <title>Login</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../../test html/login.js"></script>
</head>
<body>
    <div class="wrapper">

        <div class="main content clearfix">
            <div id="rsi-card" class="card signin-card" ng-app="app" ng-controller="HttpGetController">

                <p class="profile-name">Login</p>

                <span id="reauthEmail" class="reauth-email">New Login </span>
                <input type="text" placeholder="Username" ng-model="Username" required /><br />
                <input type="password" placeholder="password" ng-model="password" required /><br />
                <button ng-click="Login_()">login</button><br />                
                <a href="Registration.html"><p class="return_create">Create New Account</p></a>
                <p class="error_message" style="color:#f00"></p>


            </div>
        </div>

    </div>

</body>
</html>