<link href="../CSS/style_log.css" rel="stylesheet" />
<link href="../CSS/style_reg.css" rel="stylesheet" />

<div class="container">
    <form name="frm">
        <div class="wrapper">
            <div class="main content clearfix">
                <div id="rsi-card" class="card signin-card">

                    <p class="profile-name">Login</p>

                    <span id="reauthEmail" class="reauth-email">New Login </span>

                    <div>
                        <input type="email" name="email" placeholder="email" ng-model="Username" required>
                        <span ng-show="frm.email.$dirty && frm.email.$error.required"> Required! </span>
                        <span ng-show="frm.email.$dirty && frm.email.$error.email"> Not an email! </span>
                    </div>
                    <div>
                        <input type="password"
                               name="password"
                               placeholder="password"
                               ng-model="Password"
                               required
                               ng-minlength="3"
                               ng-maxlength="50" />
                        <span ng-show="frm.password.$dirty && frm.password.$error.required"> Required!  </span>
                        <span ng-show="frm.password.$dirty && frm.password.$error.minlength"> too short! </span>
                        <span ng-show="frm.password.$dirty && frm.password.$error.maxlength"> too long! </span>

                    </div>
                    <input id="signIn" class="rc-button rc-button-submit" type="button" value="Apply" ng-click="Login_()">
                    <a href="register.html"><p class="return_create">Create New Account</p></a>
                    <p class="error_message" style="color:#f00"></p>


                </div>
            </div>

        </div>
    </form>
</div>
