<link rel="stylesheet" href="style.css" type="text/css" /> 
    <div id="smth">
        <header id="header-home">
            <ul class="logo" id="title-bar">
                <li> <img src="Books.ico" width="40" height="40" alt="BookStoreLogo" /> </li>
                <li> <span id="TitleBarName">Practice Book Store</span> </li>
            </ul>
            <nav id="top-bar" role="navigation">
                <ul class="has-dropdown">
                    <li> <a href="#">Home</a>
                        <ul class="dropdown">
                            <li class="tab-under-dropdown"> <a href="google.com">New</a> </li>
                            <li class="tab-under-dropdown"> <a href="google.com">Something</a> </li>
                            <li class="tab-under-dropdown"> <a href="google.com">So On</a> </li>
                        </ul>
                    </li>
                    <li class="divider">|</li>
                    <li> <a href="#">Books</a>
                        <ul class="dropdown">
                            <li class="tab-under-dropdown"> <a href="http://www.google.com">New Books</a> </li>
                            <li class="tab-under-dropdown"> <a href="http://www.google.com">Something</a> </li>
                            <li class="tab-under-dropdown"> <a href="http://www.google.com">So On</a> </li>
                        </ul>
                    </li>
                    <li class="divider">|</li>
                    <li> <a href="#">About</a>
                        <ul class="dropdown">
                            <li class="tab-under-dropdown"> <a href="google.com">Date</a> </li>
                            <li class="tab-under-dropdown"> <a href="google.com">Something</a> </li>
                            <li class="tab-under-dropdown"> <a href="google.com">So On</a> </li>
                        </ul>
                    </li>
                    <li class="divider">|</li>
                    <li id="contact"> <a href="#">Contact</a>
                        <ul class="dropdown">
                            <li class="tab-under-dropdown"> <a href="google.com">Email</a> </li>
                            <li class="tab-under-dropdown"> <a href="google.com">Something</a> </li>
                            <li class="tab-under-dropdown"> <a href="google.com">So On</a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="search">
                <input type="text" id="search-text" />
                <button id="search-button"><img src="http://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/256/search-icon.png" width="21" height="21" /></button>
            </div>
            <!--Burani Login zamani deyismek lazimdi -->
            <!--<div class="login-register">
            <ul class="login-reg">
                <li><a href="#/register">Register</a></li>
                <li>|</li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>-->
            <div class="user-icon">
                <ul class="user-icon-list">
                    <li>
                        <a href="#/user_page"><img src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" width="40" height="40" /></a>
                    </li>
                    <li>|</li>
                    <li><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/28468-200.png" width="40" height="40" /></li>
                    <li>|</li>
                    <li class="username"><a href="#/user_page">Username</a></li>
                </ul>
            </div>
        </header>
    </div>
    <div class="user_data_container">
        <div class="user_image"> <img src="images/Jackie-Chan.jpg" height="267" width="220" /> </div>
        <div class="userdata-list">
            <ul class="user-parameters-list">
                <li class="user-parameters">First Name: {{name}}</li>
                <li class="user-parameters">Last Name: {{author}}</li>
                <li class="user-parameters">Username: {{100}}</li>
                <li class="user-parameters">Role: {{role}}</li>
                <li class="user-parameters">Email: {{englis}}</li>
            </ul>
        </div>
    </div>
    <div class="admin-control" ng-controller="user_page">
        <div class="buttons">
            <input class="confirm-button" type="button" name="confirm" value="Check All" ng-click="checkAll()">
            <input type="button" class="confirm-button" value="Confirm Selected" ng-click="confirmSelected()">
        </div>
        <table class="admin-control-table">
            <tr>
                <th>Index</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Image</th>
                <th>Price</th>
                <th>Language</th>
                <th>Genre</th>
                <th>Uploader Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Confirm</th>
                <th>Select Book</th>
            </tr>
            <tr ng-repeat="book in books">
                <td>{{$index}}</td>
                <td>{{book.Name}}</td>
                <td>{{book.Author}} </td>
                <td><img ng-src="{{book.ImageURL}}" height="80" width="60" /></td>
                <td>{{book.Pirce}}</td>
                <td>{{book.Language}}</td>
                <td>{{book.Genre}}</td>
                <td>{{book.Uploader.FirstName}} {{book.Uploader.LastName}}</td>
                <td>{{book.Uploader.Username}}</td>
                <td>{{book.Uploader.Email}}</td>
                <td>
                    <input class="confirm-button" type="button" name="confirm" value="Confirm" ng-click="confirm($index)">
                    <input class="confirm-button" type="button" name="delete" value="Delete" ng-click="delete($index )"> </td>
                <td>
                   <!-- <input type="checkbox" ng-model="book.Selected" ng-click="toggle_book_id(book.ID)"> {{book.ID}}-->
                   <input type="checkbox" ng-model="book.Selected" value="Check" />  {{book.ID}}
                </td>
            </tr>
        </table>
    </div>
    <div class="bottom-part">
        <div class="last-part">
            <div class="col"> <strong class="title"><p>Company</p></strong>
                <ul>
                    <li class=""><a href="http://google.com">About Us</a></li>
                    <li class=""><a href="http://google.com">Management</a></li>
                    <li class=""><a href="http://google.com">CEOs</a></li>
                </ul>
            </div>
            <div class="col"> <strong class="title"><p>Media</p></strong>
                <ul>
                    <li class=""><a href="http://google.com">Site News</a></li>
                    <li class=""><a href="http://google.com">Site gallery</a></li>
                </ul>
            </div>
            <div class="col"> <strong class="title"><p>Careers</p></strong>
                <ul>
                    <li class=""><a href="http://atl.az/en/careers/hr">Development</a></li>
                    <li class=""><a href="http://atl.az/en/careers/internership-oportunities">Internship</a></li>
                    <li class=""><a href="http://atl.az/en/careers/vacancies">Vacancies</a></li>
                </ul>
            </div>
            <div class="col"> <strong class="title"><p>Adress</p></strong>
                <ul>
                    <li class=""><a class="fa fa-facebook" href="https://www.facebook.com">Facebook</a></li>
                    <li class=""><a class="fa fa-instagram" href="http://instagram.com">Instagram</a></li>
                    <li class=""><a class="fa fa-linkedin" href="https://www.linkedin.com">Linkedin</a></li>
                    <li class=""><a class="fa fa-twitter" href="https://twitter.com">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div>Copyright © ATL_Practice_Group 2016. All Rights Reserved.</div>
    </div>
