<link href="../CSS/AllProducts.css" rel="stylesheet" />

<div class="sidebar-container">
    <div class="filter-container">
        <form>
            <ul>
                <li class="filters-li">Languages</li>
                <li class="filters-li">
                    <ul class="container-box-filters">
                        <li ng-repeat="lang in Languages"><input type="checkbox" /> {{lang.Name}}</li>
                    </ul>
                </li>
                <li class="filters-li">Genres</li>
                <li class="filters-li">
                    <ul class="container-box-filters">
                        <li ng-repeat="genre in Genres"><input type="checkbox" /> {{genre.Name}}</li>
                    </ul>
                </li>
            </ul>
            <div>
                <label for="price-min">Price Range:</label><br/>
                <span>Min Cost: </span><input type="number" name="price-min" id="price-min" value="0" min="0" max="1000">
                <span>Max Cost: </span><input type="number" name="price-max" id="price-max" value="1000" min="0" max="1000">
            </div>
            <input type="button" value="Filter Out" class="element-upload-book-button"/>
        </form>
        
    </div>
</div>
<div class="products-container">
    <ul class="product-list">
        {{book.Name}}
        <li class="product" ng-repeat="book in Books">
            <div class="product-image"><img src="{{book.ImageURL}}" width="200" height="300" /></div>
            <div class="product-parameters">
                <ul class="product-parameters-list">
                    <li class="parameters">Name: {{book.Name}}</li>
                    <li class="parameters">Author: {{book.Author}}</li>
                    <li class="parameters">Price: {{book.Pirce}}</li>
                    <li class="parameters">Seller: {{book.Uploader.FirstName}}</li>
                    <li class="parameters">Language: {{book.Language}}</li>
                    <li class="parameters">Genre: {{book.Genre}}</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
