<link href="../CSS/AllProducts.css" rel="stylesheet" />

<div class="sidebar-container">
    <div class="filter-container">
        <form>
            <ul>
                <li class="filters-li">Languages</li>
                <li class="filters-li">
                    <ul class="container-box-filters">
                        <li ng-repeat="lang in Languages"><input type="checkbox" ng-model="lang.Selected" /> {{lang.Name}}</li>
                    </ul>
                </li>
                <li class="filters-li">Genres</li>
                <li class="filters-li">
                    <ul class="container-box-filters">
                        <li ng-repeat="genre in Genres"><input type="checkbox" ng-model="genre.Selected" /> {{genre.Name}}</li>
                    </ul>
                </li>
                <li class="filters-li">
                    <label for="price-min">Price Range:</label><br />
                </li>
                <li class="filters-li">
                    <table>
                        <thead>
                            <tr>
                                <td><span>Min Cost </span></td>
                                <td><span>Max Cost </span></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" name="price-max" id="price-max" ng-init="LowPrice=0" step="0.01"  min="0" max="1000" ng-model="LowPrice"></td>
                                <td><input type="number" name="price-min" id="price-min" ng-init="HighPrice=999" step="0.01" min="0" max="1000" ng-model="HighPrice"></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>

            <input type="button" value="Apply" class="element-upload-book-button" ng-click="ApplySelectedFilters()" />

        </form>

    </div>
</div>
<div class="products-container">
    <ul class="product-list">
        <li class="product" ng-repeat="book in Books">
            <div class="product-image"><a href="#/BookPage/{{book.ID}}"><img src="{{book.ImageURL}}" width="180" height="250" /></a></div>
            <div class="product-parameters">
                <ul class="product-parameters-list">
                    <li class="book-name">{{book.Name}}</li>
                    <li class="book-author">by {{book.Author}}</li>
                    <li class="book-price">{{book.Price - 0.5 | number:0 }}<sup style="font-size: 55%;">{{ !((book.Price*100)%100) ? "00" : ((book.Price*100)%100 | number:0)}}</sup>&#8380;</li>
                    <li class="book-seller">
                        <ul class="seller-info">
                            <li>Seller: <a href="#/UserPage/{{book.Uploader.ID}}">{{book.Uploader.FirstName}}</a></li>
                            <li>Rate : <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAkklEQVR4AdXTMQrDMAyF4UIgmydBB68BDwZBQEf7709rjFtwRdRka/M2oW94Ir49LuaXwfwhyDz5BhS9ABCsRc4D7UBPAhI2kgLASuJOpqBvoBRymyZWDyoWpHqwBKSy+A7HpK0flH4Rv+6Bu9B0qQCIAxKD7ECOwTbWSov1bCHopZU0+ihGjcGOfPyGuwf//qafuZqXBK6OLwsAAAAASUVORK5CYII=" /></li>
                        </ul>
                    </li>
                    <li class="book-lang">in {{book.Language}}</li>
                    <li class="book-genre">{{book.Genre}}</li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="pagination-class">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li ng-repeat="n in range(0,6)" ><a ng-click="FindPage($index+1)">{{$index+1}}</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
