<link href="../CSS/Style.css" rel="stylesheet" />
<link href="../CSS/UploadBook.css" rel="stylesheet" />

<div class="products-container">
    <div class="upload-book-container">
        <h1>Upload A Book</h1>
        <form class="upload-book-form">
            <input type="text" ng-model="bookName" placeholder="Book Name" class="text-on-upload"> <br />
            <input type="text" ng-model="Author" placeholder="Book Author" class="text-on-upload"><br />
            <input type="file" id="BookImage" ng-model="ImageURL" placeholder="Image" class="element-upload-book"><br />
            <select ng-model="selectedLang" ng-options="l.Name for l in languages" class="element-upload-book">
                <option class="placeholder" selected disabled value="">Select language</option>
            </select>
            <select ng-model="selectedGenre" ng-options="g.Name for g in genres" class="element-upload-book">
                <option class="placeholder" selected disabled value="">Select genre</option>
            </select><br />
            <input type="number" step="0.01"  ng-model="Price" placeholder="Price" class="text-on-upload" ><br />
            <input type="button" ng-click="upload()" value="Upload the Book" class="element-upload-book-button"><br />
            <p ng-style="messageStyle">{{message}}</p>
        </form>
    </div>
    <!--<ul class="product-list">
        <li class="product">
            <div class="product-image"><img src="images/BookImage.JPG" width="200" height="290" /></div>
            <div class="product-parameters">
                <ul class="product-parameters-list">
                    <li class="parameters">Name: {{name}}</li>
                    <li class="parameters">Author: {{author}}</li>
                    <li class="parameters">Price: {{$100}}</li>
                    <li class="parameters">Seller: {{seller}}</li>
                    <li class="parameters">Language: {{englis}}</li>
                    <li class="parameters">Genre: {{sci-fi}}</li>
                </ul>
            </div>
        </li>
    </ul>-->

</div>