<link href="CSS/style.css" rel="stylesheet" />

<div class="user_data_container">
    <div class="user_image"> <img src="images/Jackie-Chan.jpg" height="267" width="220" /> </div>
    <div class="userdata-list">
        <ul class="user-parameters-list">
            <li class="user-parameters">First Name: {{FirstName}}</li>
            <li class="user-parameters">Last Name: {{LastName}}</li>
            <li class="user-parameters">Username: {{Username}}</li>
            <li class="user-parameters">Role: {{RoleID == 3 ? "Admin" : "User"}}</li>
            <li class="user-parameters">Email: {{Email}}</li>
        </ul>
    </div>
</div>

<div class="admin-control">
    <div class="buttons">
        <input class="confirm-button" type="button" name="confirm" value="Check All" ng-click="CheckAll()">
        <input type="button" class="confirm-button" value="Confirm Selected" ng-click="ConfirmSelected()">
    </div>
    <table class="admin-control-table">
        <tr>
            <th>Index</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Image</th>
            <th>Price</th>
            <th>Language</th>
            <th>Genre</th>
            <th>Uploader Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Confirm</th>
            <th>Select Book</th>
        </tr>
        <tr ng-repeat="book in Books">
            <td>{{$index+1}}</td>
            <td>{{book.Name}}</td>
            <td>{{book.Author}} </td>
            <td><img ng-src="{{book.ImageURL}}" height="80" width="60" /></td>
            <td>{{book.Pirce}}</td>
            <td>{{book.Language}}</td>
            <td>{{book.Genre}}</td>
            <td>{{book.Uploader.FirstName}} {{book.Uploader.LastName}}</td>
            <td>{{book.Uploader.Username}}</td>
            <td>{{book.Uploader.Email}}</td>
            <td>
                <input class="confirm-button" type="button" name="confirm" value="Confirm" ng-click="Confirm($index)">
                <input class="confirm-button" type="button" name="delete" value="Delete" ng-click="Delete($index)">
            </td>
            <td>
                <input type="checkbox" ng-model="book.Selected" value="Check" />  
            </td>
        </tr>
    </table>
</div>
<div class="bottom-part">
    <div class="last-part">
        <div class="col">
            <strong class="title"><p>Company</p></strong>
            <ul>
                <li class=""><a href="http://google.com">About Us</a></li>
                <li class=""><a href="http://google.com">Management</a></li>
                <li class=""><a href="http://google.com">CEOs</a></li>
            </ul>
        </div>
        <div class="col">
            <strong class="title"><p>Media</p></strong>
            <ul>
                <li class=""><a href="http://google.com">Site News</a></li>
                <li class=""><a href="http://google.com">Site gallery</a></li>
            </ul>
        </div>
        <div class="col">
            <strong class="title"><p>Careers</p></strong>
            <ul>
                <li class=""><a href="http://atl.az/en/careers/hr">Development</a></li>
                <li class=""><a href="http://atl.az/en/careers/internership-oportunities">Internship</a></li>
                <li class=""><a href="http://atl.az/en/careers/vacancies">Vacancies</a></li>
            </ul>
        </div>
        <div class="col">
            <strong class="title"><p>Adress</p></strong>
            <ul>
                <li class=""><a class="fa fa-facebook" href="https://www.facebook.com">Facebook</a></li>
                <li class=""><a class="fa fa-instagram" href="http://instagram.com">Instagram</a></li>
                <li class=""><a class="fa fa-linkedin" href="https://www.linkedin.com">Linkedin</a></li>
                <li class=""><a class="fa fa-twitter" href="https://twitter.com">Twitter</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright">
    <div>Copyright © ATL_Practice_Group 2016. All Rights Reserved.</div>
</div>
