<link href="../CSS/UserPage.css" rel="stylesheet" />
<link href="http://www.w3schools.com/lib/w3.css" rel="stylesheet" />
<div class="user_data_container">
    <div class="user_image"> <img src="{{ImageURL}}" height="267" width="240" /> </div>
    <div class="userdata-list">
        <ul class="user-parameters-list">
            <li class="user-parameters">First Name: {{FirstName}}</li>
            <li class="user-parameters">Last Name: {{LastName}}</li>
            <li class="user-parameters">Username: {{Username}}</li>
            <li class="user-parameters">Role: {{RoleID == 3 ? "Admin" : "User"}}</li>
            <li class="user-parameters">Email: {{Email}}</li>
        </ul>
    </div>
</div>

<div class="admin-control" ng-show="Books.length && CurrentUsername == Username ">
    <div class="buttons">
        <input class="confirm-button" type="button" name="confirm" value="Check All" ng-click="CheckAll()">
        <input type="button" class="confirm-button" value="Confirm Selected" ng-click="ConfirmSelected()">
    </div>
    <table class="admin-control-table">
        <thead>
            <tr>
                <td>Index</td>
                <td>Book Name</td>
                <td>Author</td>
                <td>Image</td>
                <td>Price</td>
                <td>Language</td>
                <td>Genre</td>
                <td>Uploader Name</td>
                <td>Username</td>
                <td>Email</td>
                <td>Confirm</td>
                <td>Select Book</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in Books">
                <td>{{$index+1}}</td>
                <td>{{book.Name}}</td>
                <td>{{book.Author}} </td>
                <td><img ng-src="{{book.ImageURL}}" height="80" width="60" /></td>
                <td>{{book.Price}}</td>
                <td>{{book.Language}}</td>
                <td>{{book.Genre}}</td>
                <td>{{book.Uploader.FirstName}} {{book.Uploader.LastName}}</td>
                <td>{{book.Uploader.Username}}</td>
                <td>{{book.Uploader.Email}}</td>
                <td>
                    <input class="confirm-button" type="button" name="confirm" value="Confirm" ng-click="Confirm($index)">
                    <input class="confirm-button" type="button" name="delete" value="Delete" ng-click="Delete($index)">
                </td>
                <td>
                    <input type="checkbox" ng-model="book.Selected" value="Check" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="no-data" ng-show="!Books.length && CurrentUsername == Username">
    <span  >No Unconfirmed Book is Available</span>
</div>