<link href="../CSS/UserPage.css" rel="stylesheet" />

<div class="user_data_container">
    <div class="user_image"> <img src="{{ImageURL}}" height="267" width="240" /> </div>
    <div class="userdata-list">
        <ul class="user-parameters-list">
            <li class="user-parameters-name"> {{FirstName}} {{LastName}} </li>
            <li class="user-parameters-username"><i class="material-icons"></i> <span>{{Username}}</span></li>
            <li class="user-parameters-role"><i class="material-icons"></i> {{RoleID == 3 ? "Admin" : "User"}} </li>
            <li class="user-parameters-email"><i class="material-icons">&#xE0BE;</i> {{Email}} </li>
            <li class="user-parameters-email"><i class="material-icons"></i>{{Location ? Location : "No Location"}}</li>
            <li class="user-parameters-email"><i class="material-icons">phone</i>{{Location ? Location : "No Phone Number"}} </li>
        </ul>
    </div>
    <div class="star-rating">
        <ul class="rate-data-list">
            <li>
                <div class="rate-stars" style="float:left;">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div><span>{{Star5}}</span>
            </li>
            <li>
                <div class="rate-stars" style="float:left;">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                </div><span>{{Star4}}</span>
            </li>
            <li>
                <div class="rate-stars" style="float:left;">
                    <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
                </div><span>{{Star3}}</span>
            </li>
            <li>
                <div class="rate-stars" style="float:left;">
                    <span>★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span>
                </div><span>{{Star2}}</span>
            </li>
            <li>
                <div class="rate-stars" style="float:left;">
                    <span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div><span>{{Star1}}</span>
            </li>
        </ul>

    </div>
    <div class="rate">
        <div class="rating">
            <span ng-repeat="n in [5,4,3,2,1]" ng-click="RateUser(n)">☆</span>
            <p type="button" ng-click="RateUser(0)" style="font-size:40%; cursor:pointer; background-color:#34b3a0; border-radius:3px; width:100px; float:left; margin-left:28%;padding:6px; height:20px;color:#f2f2f2; line-height:20px;">Cancel my rate</p>
        </div>

    </div>
</div>

<div class="admin-control" ng-show="Books.length && CurrentUsername == Username ">
    <div class="buttons">
        <input class="confirm-button" type="button" name="confirm" value="Check All" ng-click="CheckAll()">
        <input type="button" class="confirm-button" value="Confirm Selected" ng-click="ConfirmSelected()">
    </div>
    <table class="admin-control-table">
        <thead>
            <tr>
                <td>Index</td>
                <td>Book Name</td>
                <td>Author</td>
                <td>Image</td>
                <td>Price</td>
                <td>Language</td>
                <td>Genre</td>
                <td>Uploader Name</td>
                <td>Username</td>
                <td>Email</td>
                <td>Confirm</td>
                <td>Select Book</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in Books">
                <td>{{$index+1}}</td>
                <td>{{book.Name}}</td>
                <td>{{book.Author}} </td>
                <td><img ng-src="{{book.ImageURL}}" height="80" width="60" /></td>
                <td>{{book.Price}}</td>
                <td>{{book.Language}}</td>
                <td>{{book.Genre}}</td>
                <td>{{book.Uploader.FirstName}} {{book.Uploader.LastName}}</td>
                <td>{{book.Uploader.Username}}</td>
                <td>{{book.Uploader.Email}}</td>
                <td>
                    <input class="confirm-button" type="button" name="confirm" value="Confirm" ng-click="Confirm($index)">
                    <input class="confirm-button" type="button" name="delete" value="Delete" ng-click="Delete($index)">
                </td>
                <td>
                    <input type="checkbox" ng-model="book.Selected" value="Check" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="no-data" ng-show="!Books.length && CurrentUsername == Username">
    <span>No Unconfirmed Book is Available</span>
</div>