

body {
    color: #303030;
    background-color: #e9eaea;
}


.sidebar-container {
    float: left;
    margin-left: 190px;
    width: 250px;
    background-color: #cacaca;
    margin-top: 40px;
    overflow: initial;
}

.product {
    background-color: #fff;
    height: 250px;
    width: 760px;
    float: left;
    margin: 13px;
    margin-left: 5px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.product-list {
    margin: auto;
    color: #fff; /* #e8cd2a;*/
    width: 50%;
    min-height: 100px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 35%;
}

.product-parameters {
    float: left;
    margin-left: 20px;
    font-size: 14px;
    margin-top: 10px;
    height: 274px;
    width: 440px;
}

.product .product-image {
    height: 100%;
    float: left;
    border-radius: 5px;
}

.product-parameters-list > li {
    width: 250px;
    height: 30px;
    color: #2f2f2f;
}

    .product-parameters-list > li.book-name > a {
        font-size: 23px;
        height: auto;
        color: #34b3a0;
    }


    .product-parameters-list > li.book-price {
        margin-top: 20px;
        font-size: 26px;
        color: #4a4a4a;
        display: inline;
    }

.book-seller {
    display: inline-block;
    margin-left: 200px;
}

.product-parameters-list > li.book-lang {
    font-size: 15px;
    margin-top: 20px;
    height: 20px;
}

.book-genre {
    font-size: 15px;
}

.book-author {
    font-size: 13px;
    display: block;
}

.book-seller a {
    color: #007acc;
}

.seller-info {
    display: inline-block;
}

.container-box-filters {
    padding: 20px;
    height: 100px;
    display: block;
    width: 200px;
    margin: auto;
}

.filters-li {
    padding: 9px;
    background-color: white;
    border: 1px solid #82d9ff;
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 200px;
}

.element-upload-book-button {
    display: block;
    background-color: #007acc;
    padding: 9px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

    td input {
        border: 1px solid #007acc;
        text-align: center;
    }

ul.pagination {
    text-align: center;
    width: 500px;
    height: 35px;
    padding: 0;
    margin: auto;
}

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: #007967;
            font-size: 20px;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border-bottom: 1px solid #4a4a4a;
            margin-bottom: 130px;
        }


            ul.pagination li a:hover:not(.active) {
                background-color: #fff;
                cursor: pointer;
                border: 1px solid #353536;
            }


.pagination-class {
    margin-left: 60px;
    width: 100%;
}
