body {
    font-family: "Trebuchet MS", Arial, "Comic Sans MS";
    color: #303030;
    background-image: url('http://www.thebeautifultentcompany.co.uk/The_Beautiful_Tent_Company/Transport_files/light%20grey%20floral%20background_1.jpg');
}


.sidebar-container {
    float: left;
    margin-left: 60px;
    width: 280px;
    background-color: #F5F5F5;
    margin-top: 40px;
    overflow: auto;
}

.product {
    background-color: #eee;
    height: 300px;
    width: 760px;
    float: left;
    margin: 13px;
    margin-left:5px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.product-list {
    margin: auto;
    color: #000000; /* #e8cd2a;*/
    width: 60%;
    text-align: center;
    min-height: 100px;
    overflow: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-parameters {
    float: left;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    line-height: 40px;
    height: 274px;
    width: 540px;
}

.product .product-image {
    height: 100%;
    float: left;
    border-radius: 5px;
}

.product-parameters-list .parameters {
    background-color: #eee;
    border: 1px solid white;
    padding: 2px;
    margin-top: 2px;
    width: 550px;
}

.container-box-filters {
    
    padding: 20px;
    height: 100px;
    
    display:block;
    width:200px;
    margin:auto;
    
}


.filters-li{
    padding: 9px;
    background-color:white;
    border: 1px solid #82d9ff;
    display:block;
    margin: auto;
    margin-top: 8px;
    width:200px;
}

.element-upload-book-button{
    display:block;
    background-color:#007acc;
    padding: 9px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td input{
    border: 1px solid #007acc;
    text-align:center;
    
}