

body {
    font-family: "Trebuchet MS", Arial, "Comic Sans MS";
    color: #303030;
    background-image: url('http://wallpapercave.com/wp/tk2j9LI.jpg');
    background-size: cover;
}


.sidebar-container {
    float: left;
    margin-left: 60px;
    width: 280px;
    background-color: #F5F5F5;
    margin-top: 40px;
    overflow: auto;
}

.product {
    background-image: url('http://wallpapercave.com/wp/f2nbsPJ.jpg');
    background-size: cover;
    height: 250px;
    width: 760px;
    float: left;
    margin: 13px;
    margin-left:5px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.product-list {
    margin: auto;
    color: #fff; /* #e8cd2a;*/
    width: 60%;
    min-height: 100px;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-parameters {
    float: left;
    margin-left: 20px;
    font-size: 14px;
    margin-top: 10px;
    height: 274px;
    width: 440px;
    
}

.product .product-image {
    height: 100%;
    float: left;
    border-radius: 5px;
}

.product-parameters-list > li{
    width: 250px;
    height: 30px;
}

.product-parameters-list > li.book-name
{
    font-size: 23px;
    height:auto;
    color: #fff;
    
}


.book-price
{
    margin-top: 20px;
    font-size: 26px;
    display: inline;
}

.book-seller
{
    display: inline-block;
    margin-left: 200px; 
}

.book-lang{
    font-size: 15px
}
.book-genre{
    font-size: 15px
}

.book-author{
    font-size: 13px;
    display: block;
}

.book-seller a{
    color: #007acc;
}

.seller-info{
    display:inline-block;
}

.container-box-filters {
    padding: 20px;
    height: 100px;
    display:block;
    width:200px;
    margin:auto;
}

.filters-li{
    padding: 9px;
    background-color:white;
    border: 1px solid #82d9ff;
    display:block;
    margin: auto;
    margin-top: 8px;
    width:200px;
}

.element-upload-book-button{
    display:block;
    background-color:#007acc;
    padding: 9px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td input{
    border: 1px solid #007acc;
    text-align:center;
}