
.signin-card {
    width: 274px;
    padding: 40px 40px;
    border-radius: 12px;
}

    .signin-card .profile-img {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .signin-card .profile-name {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #414142;
    }

    .signin-card .profile-email {
        font-size: 16px;
        text-align: center;
        margin: 10px 0 20px 0;
        min-height: 1em;
    }

    .signin-card input[type=email],
    .signin-card input[type=password],
    .signin-card input[type=text],
    .signin-card input[type=submit] {
        width: 100%;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }


    .signin-card #Email + .stacked-label {
        margin-top: 15px;
    }

    .signin-card #reauthEmail {
        display: block;
        margin-bottom: 10px;
        line-height: 36px;
        padding: 0 8px;
        font-size: 19px;
        color: #414142;
        margin-bottom: 10px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
