body {
    font-family: "Trebuchet MS", Arial, "Comic Sans MS";
    color: #303030;
    background-color: #F1F1F1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

#wrapper {
    width: 100%;
    height: 550px;
}


    #wrapper .text-on-slider {
        text-align: center;
        background-color: rgba(67, 68, 68, 0.57);
        float: left;
        border-radius: 3px;
        box-shadow: 3px 6px 6px 6px rgba(255, 255, 255, 0.2);
        border: 1px solid #c1c1c1;
        padding: 5px;
        width: 300px;
        height: 160px;
        margin-top: 300px;
        margin-left: 505px;
        font-size: 14px;
        color: #0d0d0d;
    }



.our-col {
    margin: auto;
    background-color: #515151;
    width: 900px;
    height: 150px;
    margin: 50px auto;
    border-radius: 7px;
    border: 1px solid white;
}

#colleagues .our-col li {
    float: left;
    width: auto;
    height: auto;
    list-style: none;
    margin: 53px 34px;
    text-align: center;
    vertical-align: middle;
}

#colleagues .our-col #apple-logo {
    margin-top: 22px;
}

.footer {
    text-align: center;
    width: 100%;
    height: 320px;
}

.home-container {
    display: inline-block;
    width: 900px;
    height: 300px;
    font-size: 15px;
    background-color: #333;
    padding: 7px;
    border-radius: 14px;
    border: 2px solid #eee;
}

    .home-container h5 {
        font-size: 25px;
        text-align: center;
        padding: 10px;
        color: #101010;
    }

    .home-container a {
        text-decoration: none;
        color: #8ab7ff;
    }

    .home-container p {
        text-align: center;
        color: aliceblue;
    }


    .home-container .paralel-containers {
        float: left;
        padding: 7px;
        text-align: center;
        margin: 4px;
        width: 274px;
        height: 275px;
        box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
        border: 1px solid #eee;
    }


.slider {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}

    .slider figure div {
        float: left;
        width: 20%;
        height: 500px;
        box-shadow: 8px 8px 16px 16px rgba(0, 0, 0, 0.2);
    }

#wrapper .slider figure img {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.slider figure {
    position: relative;
    height: 400px;
    width: 500%;
    left: 0;
    animation: 25s slidy infinite;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    7% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    19% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    31% {
        left: -200%;
    }

    36% {
        left: -300%;
    }

    43% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    54% {
        left: -400%;
    }

    59% {
        left: -300%;
    }

    66% {
        left: -300%;
    }

    71% {
        left: -200%;
    }

    79% {
        left: -200%;
    }

    84% {
        left: -100%;
    }

    91% {
        left: -100%;
    }

    96% {
        left: 0%;
    }

    100% {
        left: 0%;
    }
}




.product {
    background-color: #333333;
    height: 300px;
    width: 400px;
    float: left;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #353736;
}

.product-list {
    display: block;
    width: 1400px;
    height: auto;
    overflow: initial;
}

.products-container {
    text-align: center;
    height: 350px;
    width: 100%;
}

.product-parameters {
    float: left;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    padding: 10px;
    line-height: 40px;
    height: 274px;
    width: 160px;
}

.product .product-image {
    height: 290px;
    float: left;
    margin-top: 5px;
    margin-left: 7px;
    border-radius: 2px;
    border: 1px solid white;
}

.product-parameters-list .parameters {
    background-color: #eee;
    border: 1px solid white;
    padding: 2px;
    width: 160px;
}

li.w3-card-12{
    width:250px; 
    height:400px; 
    float:left; 
    margin:30px;

}

.user-icon-list {
    height: 40px;
}

    .user-icon-list li {
        float: right;
        padding-left: 5px;
        line-height: 38px;
    }

.username a {
    text-decoration: none;
    font-size: 20px;
    line-height: 38px;
    color: azure;
}

.user-icon {
    float: right;
    background: #d9d9d9;
    width: 222px;
    height: 40px;
}


.user_data_container {
    margin: 100px;
    margin-left: 200px;
    width: 990px;
    height: 360px;
    background: #36a8b7;
}

.user_image {
    width: 220px;
    height: 267px;
    background-color: #eee;
    float: left;
}

.userdata-list {
    float: left;
    height: 235px;
    padding-top: 31px;
    padding-left: 40px;
    width: 720px;
}

.user-parameters {
    padding: 13px;
    font-family: "Arial";
    font-weight: bold;
    color: antiquewhite;
}

.admin-control {
    padding: 30px;
    width: 1420px;
    float: left;
}

#prod-wrapper {
    height: 40px;
}


.confirm-button {
    padding: 2px;
    margin-bottom: 12px;
    border: 1px solid #333;
    background-color: aqua;
    width: 60px;
}

.buttons {
    margin-left: 1000px;
}
