* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    font-family: "Trebuchet MS", Arial, "Comic Sans MS";
    background-image: url('http://www.thebeautifultentcompany.co.uk/The_Beautiful_Tent_Company/Transport_files/light%20grey%20floral%20background_1.jpg');
    position: absolute;
    height: 100%;
    min-width: 100%;
}


input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url] {
    display: inline-block;
    height: 36px;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 15px;
    color: #404040;
}


.card {
    background-color: #f5f5f5;
    padding: 20px 25px 30px;
    margin: 10% auto;
    width: 304px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


.rc-button,
.rc-button:visited {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    line-height: 36px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    user-select: none;
    cursor: default;
}

.card .rc-button {
    width: 100%;
    padding: 0;
}

.rc-button.disabled,
.rc-button[disabled] {
    opacity: .5;
    
    cursor: default;
    pointer-events: none;
}

.rc-button:hover {
    border: 1px solid #c6c6c6;
    color: #333;
    text-decoration: none;
    transition: all 0.0s;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.rc-button:active {
    background-color: #f6f6f6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.rc-button-submit,
.rc-button-submit:visited {
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
}


