.upload-book-container {
    padding: 30px;
    width: 700px;
    margin: auto;
    background-color: #fff;
    height: 300px;
    text-align: center;
    border-radius:10px;
    border: 1px solid #007acc;
}

.upload-book-form {
    display: inline;
    width:400px;
}

.text-on-upload{
    text-align: center;
    padding: 6px;
    margin: 8px;
    border: 1px solid #007acc ;
}

.element-upload-book {
    padding: 6px;
    margin: 8px;
    border: 1px solid #007acc ;
}
    
.element-upload-book-button{
    background-color:#007acc;
    padding: 9px;
    
    color: white;
}

.products-container{
    margin-top:70px;
    
    margin-bottom:70px;

}