<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="login.js"></script>
</head>
<body>
    <div ng-app="app" ng-controller="HttpGetController">

        <input type="text" placeholder="Username" ng-model="Username" required /><br />
        <input type="password" placeholder="password" ng-model="password" required /><br />
        <button ng-click="Login_()">login</button><br />
        <p ng-style="emiraslan" ng-bind="message"></p>
    </div>
</body>
</html>
