 .banner h1 {
            font-family: 'Open Sans', arial;
            -webkit-font-smoothing: antialiased;
            color: #555;
            font-size: 42px;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .banner h2 {
            font-family: 'Open Sans', arial;
            -webkit-font-smoothing: antialiased;
            color: #555;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .signin-card {
            width: 274px;
            padding: 40px 40px;
            border-radius: 25px;
        }

            .signin-card .profile-img {
                width: 96px;
                height: 96px;
                margin: 0 auto 10px;
                display: block;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .signin-card .profile-name {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                margin: 10px 0 0;
                min-height: 1em;
            }

            .signin-card .profile-email {
                font-size: 16px;
                text-align: center;
                margin: 10px 0 20px 0;
                min-height: 1em;
            }

            .signin-card input[type=email],
            .signin-card input[type=password],
            .signin-card input[type=text],
            .signin-card input[type=submit] {
                width: 100%;
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                z-index: 1;
                position: relative;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            .signin-card #Email,
            .signin-card #Passwd,
            .signin-card .captcha {
                direction: ltr;
                height: 44px;
                font-size: 16px;
            }

                .signin-card #Email + .stacked-label {
                    margin-top: 15px;
                }

            .signin-card #reauthEmail {
                display: block;
                margin-bottom: 10px;
                line-height: 36px;
                padding: 0 8px;
                font-size: 15px;
                color: #d6d5d5;
                line-height: 2;
                margin-bottom: 10px;
                font-size: 14px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

        .one-google p {
            margin: 0 0 10px;
            color: #555;
            font-size: 14px;
            text-align: center;
        }

            .one-google p.create-account,
            .one-google p.switch-account {
                margin-bottom: 60px;
            }

        .one-google .logo-strip {
            background-repeat: no-repeat;
            display: block;
            margin: 10px auto;
            background-image: url(https://ssl.gstatic.com/accounts/ui/wlogostrip_230x17_1x.png);
            background-size: 230px 17px;
            width: 230px;
            height: 17px;
        }