<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

    <div ng-app="myApp" ng-controller="namesCtrl">
        <p>
        </p>
        <form name="frm">
            <p><input type="text" name="input" ng-model="test" required />  Search  </p>



            <ul>
                <h3 ng-repeat="x in names | filter:test">
                    <span ng-show="frm.input.$valid">{{x}}</span>
                </h3>
            </ul>
        </form>
    </div>

    <script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
        'kitab1',
        'kitab2',
        'kitab3',
        'kitab4',
        'kitab5',
        'kitab6',
        'kitab7',
        'kitab8',
        'kitab9'
    ];
});
    </script>

    <p>The list will only consists of names matching the filter.</p>


</body>
</html>

